<?php
  //共通
  require_once substr($_SERVER['SCRIPT_FILENAME'], 0, -strlen($_SERVER['SCRIPT_NAME'])).'/common/includes/init.php';

  //メタディスクリプション
  $description = '';

  //メタキーワード
  $keywords = '';

  //Facebook　全ページ共通の場合は空白にしてください
  $fbimage = '';

  //タイトル
  $title = '質問TOP';

  //css追加
  $ex_tag_css = '<link rel="stylesheet" href="/member/css/style.css"><link rel="stylesheet" href="/member/css/template.css">';

  //js追加
  $ex_tag_js = '<script src="/member/js/script.js"></script>';

  //bodyID
  $bodyID = 'member';

?>
<?php include 'header.php'; ?>


	<div class="contents-header">
		<ul class="topicpath fbox">
			<li><a href="/">トップページ</a></li>
			<li>質問TOP</li>
		</ul>
		<h1 class="header-ttl">質問TOP</h1>
	</div>
    <!-- /.contents-header -->


  <div class="inner">
    
    
    
    <!--/////////////////登録完了メッセージ start ///////////////////-->
        <div class="m-panel01 m-panel01">
     	 <div class="l-sp-inner">
          <div class="m-panel01__panel">
            <p class="m-panel01__heading">ご登録ありがとうございます。</p>
            <p class="m-panel01__txt">きぐすり.comにご登録いただきありがとうございます。「<a href="consultation.php">新規相談フォーム</a>」からご相談いただけます。</p>
          </div>
          <!-- /.m-panel01__panel -->
          </div>
          <!-- /.l-sp-inner -->
        </div>
        <!-- /.m-panel01 -->
    <!--/////////////////登録完了メッセージ end ///////////////////-->
    
    なにかメッセージはいるのか
    
    
  </div>
  <!-- /.inner -->

<?php include 'footer.php'; ?>
