/* %icomoon
----------------------------------------------------------*/
/* %icomoon02
----------------------------------------------------------*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon02';
  src: url("fonts/icomoon.eot?ctabv3");
  src: url("fonts/icomoon.eot?ctabv3#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ctabv3") format("truetype"), url("fonts/icomoon.woff?ctabv3") format("woff"), url("fonts/icomoon.svg?ctabv3#icomoon") format("svg"); }
#contents .component-area {
  padding: 0 0; }

@media screen and (min-width: 768px) {
  #contents .component-area {
    margin-bottom: 100px; } }
@media screen and (max-width: 767px) {
  #contents .component-area {
    margin-bottom: 50px; } }
