				<dt>オプション項目</dt>
					<dd>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■IPアドレス\n{ldelim}$ip{rdelim}');return false;" onkeypress="return;">[ IPアドレス ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■ホスト名\n{ldelim}$host{rdelim}');return false;" onkeypress="return;">[ ホスト名 ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■ブラウザ\n{ldelim}$browser{rdelim}');return false;" onkeypress="return;">[ ブラウザ ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■端末情報\n{ldelim}$carrier{rdelim}');return false;" onkeypress="return;">[ 端末情報 ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■リファラ\n{ldelim}$referer{rdelim}');return false;" onkeypress="return;" title="送信場所URL">[ リファラ ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■送信日付\n{ldelim}$date{rdelim}');return false;" onkeypress="return;">[ 送信日付 ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■送信元情報\nIPアドレス: {ldelim}$ip{rdelim}\nホスト名: {ldelim}$host{rdelim}\nブラウザ: {ldelim}$browser{rdelim}\n端末情報: {ldelim}$carrier{rdelim}\nリファラ: {ldelim}$referer{rdelim}\n送信日付: {ldelim}$date{rdelim}');return false;" onkeypress="return;"
							>[ 送信元情報一括 ]</a>
						<br />
						<a href="javascript:void(0);" onclick="paste_textarea('body',
							'■シリアル番号\n{ldelim}$serial{rdelim}');return false;" onkeypress="return;">[ シリアル番号 ]</a>
							（注文番号や問い合わせ番号として利用できる12桁の英数字）
					</dd>
				<dt>装飾枠</dt>
					<dd>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
'┌──────────────────────────────┐\n│　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│\n└──────────────────────────────┘'
							);return false;" onkeypress="return;">[ 細枠 ]</a>
						<a href="javascript:void(0);" onclick="paste_textarea('body',
'┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓\n┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃\n┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛'
							);return false;" onkeypress="return;">[ 太枠 ]</a>
					</dd>

