						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n+北海道\n北海道\n+東北\n青森県\n岩手県\n宮城県\n秋田県\n山形県\n福島県\n+関東\n茨城県\n栃木県\n群馬県\n埼玉県\n千葉県\n東京都\n神奈川県\n山梨県\n+信越\n長野県\n新潟県\n+北陸\n富山県\n石川県\n福井県\n+東海\n岐阜県\n静岡県\n愛知県\n三重県\n+近畿\n滋賀県\n京都府\n大阪府\n兵庫県\n奈良県\n和歌山県\n+中国\n鳥取県\n島根県\n岡山県\n広島県\n山口県\n+四国\n徳島県\n香川県\n愛媛県\n高知県\n+九州\n福岡県\n佐賀県\n長崎県\n熊本県\n大分県\n宮崎県\n鹿児島県\n+沖縄県\n沖縄県\n+海外\n海外\n'
							);return false;" onkeypress="return;" title="北海道">[ 地域別県名 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n北海道\n青森県\n岩手県\n宮城県\n秋田県\n山形県\n福島県\n茨城県\n栃木県\n群馬県\n埼玉県\n千葉県\n東京都\n神奈川県\n山梨県\n長野県\n新潟県\n富山県\n石川県\n福井県\n岐阜県\n静岡県\n愛知県\n三重県\n滋賀県\n京都府\n大阪府\n兵庫県\n奈良県\n和歌山県\n鳥取県\n島根県\n岡山県\n広島県\n山口県\n徳島県\n香川県\n愛媛県\n高知県\n福岡県\n佐賀県\n長崎県\n熊本県\n大分県\n宮崎県\n鹿児島県\n沖縄県\n海外\n'
							);return false;" onkeypress="return;" title="北海道">[ 県名 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n北海道\n東北\n関東\n信越\n北陸\n東海\n近畿\n中国\n四国\n九州\n沖縄\n海外\n'
							);return false;" onkeypress="return;" title="北海道">[ 地域 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n製造業\n建設業\n運輸業\n金融・保険・不動産\n医療・福祉\n教育・学習支援\nサービス業\nコンピュータ関連\n会社役員（役員・経営者）\n専門職（医師・弁護士）\n公務員\n自営業\n芸能・芸術\n派遣社員\nパート・アルバイト\n主婦\n無職\n定年退職\n学生\nその他\n'
							);return false;" onkeypress="return;" title="会社員">[ 職業 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'中学\n高校\n高専\n専門\n短大\n大学\n大学院\nその他\n'
							);return false;" onkeypress="return;" title="高校">[ 学歴 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'本人\n母\n父\n兄弟\n祖父母\n配偶者\nその他\n'
							);return false;" onkeypress="return;" title="兄弟">[ 続柄 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n平成20\n平成19\n平成18\n平成17\n平成16\n平成15\n平成14\n平成13\n平成12\n平成11\n平成10\n平成9\n平成8\n平成7\n平成6\n平成5\n平成4\n平成3\n平成2\n平成1(1989/1/8～)\n昭和64(～1989/1/7)\n昭和63\n昭和62\n昭和61\n昭和60\n昭和59\n昭和58\n昭和57\n昭和56\n昭和55\n昭和54\n昭和53\n昭和52\n昭和51\n昭和50\n昭和49\n昭和48\n昭和47\n昭和46\n昭和45\n昭和44\n昭和43\n昭和42\n昭和41\n昭和40\n昭和39\n昭和38\n昭和37\n昭和36\n昭和35\n昭和34\n昭和33\n昭和32\n昭和31\n昭和30\n昭和29\n昭和28\n昭和27\n昭和26\n昭和25\n昭和24\n昭和23\n昭和22\n昭和21\n昭和20\n昭和19\n昭和18\n昭和17\n昭和16\n昭和15\n昭和14\n昭和13\n昭和12\n昭和11\n昭和10\n昭和9\n昭和8\n昭和7\n昭和6\n昭和5\n昭和4\n昭和3\n昭和2\n昭和1(1926/12/25～)\n大正15(～1926/12/24)\n大正14\n大正13\n大正12\n大正11\n大正10\n大正9\n大正8\n大正7\n大正6\n大正5\n大正4\n大正3\n大正2\n大正1\n'
							);return false;" onkeypress="return;" title="平成20">[ 和暦 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'-選択して下さい\n2008\n2007\n2006\n2005\n2004\n2003\n2002\n2001\n2000\n1999\n1998\n1997\n1996\n1995\n1994\n1993\n1992\n1991\n1990\n1989\n1988\n1987\n1986\n1985\n1984\n1983\n1982\n1981\n1980\n1979\n1978\n1977\n1976\n1975\n1974\n1973\n1972\n1971\n1970\n1969\n1968\n1967\n1966\n1965\n1964\n1963\n1962\n1961\n1960\n1959\n1958\n1957\n1956\n1955\n1954\n1953\n1952\n1951\n1950\n1949\n1948\n1947\n1946\n1945\n1944\n1943\n1942\n1941\n1940\n1939\n1938\n1937\n1936\n1935\n1934\n1933\n1932\n1931\n1930\n1929\n1928\n1927\n1926\n1925\n1924\n1923\n1922\n1921\n1920\n1919\n1918\n1917\n1916\n1915\n1914\n1913\n1912\n1911\n1910\n1909\n1908\n'
							);return false;" onkeypress="return;" title="2008">[ 西暦 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'10代\n20代\n30代\n40代\n50代\n60代\n70代\n80歳以上\n'
							);return false;" onkeypress="return;" title="10代">[ 年齢 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'月曜日\n火曜日\n水曜日\n木曜日\n金曜日\n土曜日\n日曜日\n祝日\n'
							);return false;" onkeypress="return;" title="月曜日">[ 曜日 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n19\n20\n21\n22\n23\n24\n25\n26\n27\n28\n29\n30\n31\n'
							);return false;" onkeypress="return;" title="31">[ 日付 ]</a>
<br />
						<a href="javascript:void(0);" onclick="paste('values',
'大変良い\nまあまあ良い\n普通\nあまり良くない\n非常に悪い\n'
							);return false;" onkeypress="return;" title="大変良い">[ 感想 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'大変満足\nやや満足\n普通\nやや不満\n非常に不満\n'
							);return false;" onkeypress="return;" title="満足した">[ 満足度 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'大変役に立った\n役に立った\n普通\n役に立たなかった\n全然役に立たなかった\n'
							);return false;" onkeypress="return;" title="役に立った">[ 役立度 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'毎日\n週2～3回\n週1回\n月2～3回\n月1回\n年に数回\n利用した事がない\nその他\n'
							);return false;" onkeypress="return;" title="週2～3回">[ 利用回数 ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'ホームページ\nメールマガジン\nダイレクトメール\nテレビ\nラジオ\n新聞\n雑誌\n書籍\n知人から\nその他\n'
							);return false;" onkeypress="return;" title="テレビ">[ どこでお知りになりましたか？ ]</a>

						<a href="javascript:void(0);" onclick="paste('values',
'Yahoo!\nGoogle\nMSN\nInfoseek\nExcite\ngoo\nlivedoor\nmixi\nはてな\nブログ\nその他\n'
							);return false;" onkeypress="return;" title="Yahoo!">[ どのサイトでお知りになりましたか？ ]</a>

