<?php
  //共通
  require_once substr($_SERVER['SCRIPT_FILENAME'], 0, -strlen($_SERVER['SCRIPT_NAME'])).'/common/includes/init.php';

  //メタディスクリプション
  $description = '';

  //メタキーワード
  $keywords = '';

  //Facebook　全ページ共通の場合は空白にしてください
  $fbimage = '';

  //タイトル
  $title = '新規相談フォーム';

  //css追加
  $ex_tag_css = '<link rel="stylesheet" href="/member/css/style.css"><link rel="stylesheet" href="/member/css/template.css">';

  //js追加
  $ex_tag_js = '<script src="/member/js/script.js"></script>';

  //bodyID
  $bodyID = 'member';

?>
<?php include 'header.php'; ?>


	<div class="contents-header">
		<ul class="topicpath fbox">
			<li><a href="/">トップページ</a></li>
			<li><a href="/consultation/">みんなの漢方相談Q&amp;A</a></li>
			<li>新規相談フォーム</li>
		</ul>
		<h1 class="header-ttl">新規相談フォーム</h1>
	</div>
    <!-- /.contents-header -->


  <div class="inner">
    
    <!--/////////////////登録完了メッセージ start ///////////////////-->
        <div class="m-panel01 m-panel01">
     	 <div class="l-sp-inner">
          <div class="m-panel01__panel">
            <p class="m-panel01__heading">ご質問いただき、ありがとうございます。</p>
            <p class="m-panel01__txt">ご相談内容は運営事務局の承認後にサイトに掲載されます。<br />薬局からの回答があり次第、ご登録メールアドレス宛に通知されますので、少々お待ちください。</p>
          </div>
          <!-- /.m-panel01__panel -->
          </div>
          <!-- /.l-sp-inner -->
        </div>
        <!-- /.m-panel01 -->
    <!--/////////////////登録完了メッセージ end ///////////////////-->

        <div class="m-tablearea01__btn mt40">
          <button type="button" class="m-arrow-btn01 question_delete" onClick="location.href='{{ c.app.urlFor('qa_request')}}';">別の相談を投稿する<span class="m-arrow-btn01__icn"></span></button>
          <button type="button" class="m-arrow-btn01 question_delete" onClick="location.href='{{ c.app.urlFor('qa_history')}}';">相談履歴を見る<span class="m-arrow-btn01__icn"></span></button>
        </div>
    
  </div>
  <!-- /.inner -->
  <!-- /.inner -->

<?php include 'footer.php'; ?>
