{% extends "Admin/layout.twig" %}

{% block content %}
<!-- <h2 class="entryTtl"><span>TOP</span></h2> -->

<!--
<ul class="info">
<li>お知らせのスタイルを追加しました。</li>
<li>
<dl>
<dt>2009.10.07</dt>
<dd>お知らせ内容が入ります。お知らせ内容が入ります。お知らせ内容が入ります。</dd>
<dt>2009.10.07</dt>
<dd>お知らせ内容が入ります。お知らせ内容が入ります。お知らせ内容が入ります。</dd>
</dl>
</li>
</ul>
-->

{% endblock %}
