<div class="component-area">
  <div class="l-sp-inner">
    <div class="m-panel01">
      <div class="m-panel01__panel">
        <p class="m-panel01__heading">ご不明な点がございましたら、きぐすり.com事務局までお問い合わせください。</p>
        <p class="m-panel01__txt">株式会社栃本天海堂 きぐすり.com運営事務局<br />TEL：06-6312-9090（平日9:00-18:00）　／　FAX ： 06-6312-9092<br />E-mail ： info@kigusuri.com</p>
      </div>
      <!-- /.m-panel01__panel -->
    </div>
    <!-- /.m-panel01 -->

  </div>
  <!-- /.l-sp-inner -->
</div>
<!-- /.component-area -->
