@charset "shift_jis";

/* =======================================

 kigusuri.com/kampo-kisokuoza/ フォームCSS 

-----------------------------------------
kampo-kisokuoza index
-----------------------------------------
1.contentsArea

2.privacy

3.formTable

4.tyui

========================================== */

	
/* 1.contentsArea
========================================== */

div#main div#contentsArea{
	font-size:14px;}
	
div#main div#contentsArea span.red{
	color:#F03;
	font-weight:bold;}


div#main div#contentsArea h3.title_cap{
	font-size:16px;
	font-weight: bold;
	line-height: 160%;
	text-indent:14px;
	background-color: #f6f6f6;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #f0908d;
	margin:20px 0 16px 0;
	padding:0px;}

div#main div#contentsArea ul#annai{
	margin:0 0 10px 21px;
	padding:0;}


div#main div#contentsArea ul#pdf{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	float:right;}

div#main div#contentsArea ul#pdf li{
	display: inline;}


/* 2.privacy
========================================== */

div#main div#contentsArea div#privacy{
	margin:0;
	padding:0;}
	
div#main div#contentsArea div#privacy h4{
	font-weight:bold;
	border-left:6px #f0908d solid;
	padding:0;
	margin:0 0 3px 0;
	background-color: #f6f6f6;
	font-size:16px;	
	line-height: 160%;
	text-indent:14px;}

div#main div#contentsArea div#privacy div{
	margin:10px 0;
	padding:10px;
	background-color:#FFF;
	border:1px #f0908d solid;}

div#main div#contentsArea div#privacy div p{
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;}

div#main div#contentsArea div#privacy p{
	margin:0;
	padding:0;
	font-weight:bold;}

div#main div#contentsArea div#privacy p span#sakura{
	margin:0 3px 0 0;
	padding:0;
	color:#f0908d;}

div#main div#contentsArea div#privacy ul{
	list-style:none;
	margin:0 0 0 18px;
	padding:0;}
	
	
div#main div#contentsArea p#btn{
	margin:10px 0;
	text-align:center;
	padding:0;}


	
/* 3.formTable
========================================== */
div#main div#contentsArea p{
	font-size:14px;}

div#main div#contentsArea table.formTable{
	border:1px #f0908d solid;
	background-color:#fef4f4;
	width:530px;
	margin:15px;}
	
div#main div#contentsArea table.formTable TH{
	margin:6px 0 0 12px;
	background-color:#fef4f4;
	width:90px;
	padding:5px 10px;
	margin:0;
	white-space:nowrap;
	border-bottom:1px #CCC dashed;
	font-weight:bold;
	color:#333;
	text-align:left;}

	
div#main div#contentsArea table.formTable TD{
	background-color:#fef4f4;
	margin:0 0 6px 0;
	padding:6px 0 10px 0;
	border-bottom:1px #CCC dashed;
	color:#333;}

div#main div#contentsArea table.formTable TH#th-last{
	border-bottom:none;}

div#main div#contentsArea table.formTable TD#td-last{
	border-bottom:none;}

div#main div#contentsArea table.formTable #kakunin{
	display:block;
	margin:0 0 6px 0;
	padding:0;}
	
div#main div#contentsArea p#btn{
	margin:0 0;
	text-align:center;
	padding:10px;
	border-bottom:none}

fieldset{border:none;}
legend{display:none;}

/* 4.tyui
========================================== */

div#main div#contentsArea div#tyui{
	margin:10px 20px;
	padding:6px 10px 10px 10px;
	border-bottom:1px #ccc solid;
	border-top:1px #ccc solid;}

div#main div#contentsArea div#tyui h3{
	background-image: url(../search/img/mark_warning.gif);
	background-repeat:no-repeat;
	background-position:left center;
	font-weight:normal;
	border-bottom:1px #CCC dashed;
	color:#F03;
	margin:0 0 6px 0;
	padding:10px 0 6px 48px;
	font-weight:bold;
	font-size:16px;}

div#main div#contentsArea div#tyui p{
	margin:0 0 10px 0;
	padding:0;}